body {
	background: black;
}
.g-body {
	width: 200px;
	height: 400px;
	background-color: white;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	margin-top: 100px;
	margin-left: 100px;
.g-right-eye {}